# AWS S3 Configuration
# Copy this file to .env and fill in your actual credentials
# The .env file is automatically loaded by spring-dotenv library
# NEVER commit the .env file to version control!

AWS_ACCESS_KEY_ID=your-access-key-here
AWS_SECRET_ACCESS_KEY=your-secret-key-here
AWS_REGION=ap-south-1
S3_BUCKET_NAME=alakh-pms-1

DB_USERNAME=your-username
DB_PASSWORD=your-password

JWT_SECRET_KEY=your-jwt-secret-key-here


EMAIL_USERNAME=your-username
EMAIL_PASSWORD=your-password
EMAIL_HOST=your-smtp-host
EMAIL_PORT=your-smtp-port

FRONTEND_URL=add-your-frontend-url-here