.header-search-input input   {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.header-search-input input:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.3);

}

.header-menu:hover {
    background-color: #f0f0f0;
    cursor: pointer;    
}